
.project-brief, .project-image {

    width: 32.0%;
    display: inline-block;
    .box-sizing(border-box);
    padding: @lineHeight;

    @borderRadius: 2px;

    a {
        display: inline-block;
        border: 5px solid white;
        .border-radius(@borderRadius);
        .box-shadow(0 1px 2px white);

        img {
            .border-radius(@borderRadius);
            .box-shadow(inset 0 2px 2px fade(black, 20%));
        }

        .caption {
            padding: @lineHeight/2;
            text-align: center;
            color: #444;
            font-size: 0.75rem;
            .transition(all 0.3s ease);
        }

        &:hover .caption {
            color: black;
            padding: @lineHeight;
        }
    }
}

