@import url("http://fonts.googleapis.com/css?family=Arapey");
@import "normalize.css";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arapey', sans-serif;
  line-height: 1.5;
}
h1 {
  font-size: 2.8em;
  margin: 0.34em 0;
}
h2 {
  font-size: 2.2em;
  margin: 0.42em 0;
}
h3 {
  font-size: 1.6em;
  margin: 0.5em 0;
}
h4 {
  font-size: 1.3em;
  margin: 0.66em 0;
}
h5 {
  font-size: 1.1em;
  margin: 0.84em 0;
}
h6 {
  font-size: 1em;
  margin: 1.16em 0;
}
p {
  margin: 1.5em 0;
}
a {
  color: #168bd9;
  -webkit-transition: #222 0.2s ease;
  -moz-transition: #222 0.2s ease;
  -o-transition: #222 0.2s ease;
  -ms-transition: #222 0.2s ease;
  transition: #222 0.2s ease;
  text-decoration: none;
}
a:visited {
  color: #c66829;
}
a:active {
  color: #2299e9;
}
a:hover {
  background-color: rgba(22,140,219,0.1);
}
a:visited:hover {
  background-color: rgba(198,104,41,0.01);
}
img {
  max-width: 100%;
}
code {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 3px 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
body {
  background: #fff url("../img/bg2.png") top left repeat;
  text-shadow: 0 1px 0px rgba(255,255,255,0.4);
  font-family: 'Arapey', sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  color: #222;
}
.container,
header {
  margin: 0 auto;
  padding: 1.5em 3em;
  max-width: 1024px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  padding: 0 3em;
  font-family: 'Arapey', sans-serif;
  *zoom: 1;
}
header:before,
header:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after {
  clear: both;
}
header h1 {
  display: inline-block;
  margin: 0.5rem 0 0;
  float: left;
}
.container>div >h1,
.container>div >h2,
.container>div >h3 {
  margin-top: 0;
}
#brand {
  text-decoration: none;
  color: #168cdb;
  text-transform: lowercase;
  text-shadow: 0 3px 0px rgba(22,140,219,0.2);
}
.nav {
  display: inline-block;
  padding-left: 0;
  float: right;
}
.nav li {
  display: inline-block;
}
.nav li a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75em;
  color: #168cdb;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}
.nav li a:hover {
  background-color: rgba(22,140,219,0.1);
  -webkit-box-shadow: 0px 1px 0px rgba(21,133,208,0.3);
  box-shadow: 0px 1px 0px rgba(21,133,208,0.3);
  text-shadow: 0 2px 0px rgba(22,140,219,0.2);
  top: -1px;
}
.nav li a:active {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: rgba(22,140,219,0.1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(21,133,208,0.3);
  box-shadow: inset 0px 1px 0px rgba(21,133,208,0.3);
  top: 1px;
}
.info {
  padding: 1.125em;
  font-size: 0.9em;
  background-color: rgba(232,232,232,0.5);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 20px;
}
.info>:first-child {
  padding-top: 0;
  margin-top: 0;
}
.info>:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.welcome-msg {
  background-color: rgba(232,232,232,0.5);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 20px;
  margin-bottom: 30px;
}
.welcome-msg>:first-child {
  padding-top: 0;
  margin-top: 0;
}
.welcome-msg>:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.notice-msg {
  background-color: #ffffc0;
  -webkit-box-shadow: 0px 3px 0px rgba(162,162,0,0.05);
  box-shadow: 0px 3px 0px rgba(162,162,0,0.05);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 20px;
  color: #8e8e00;
}
.notice-msg>:first-child {
  padding-top: 0;
  margin-top: 0;
}
.notice-msg>:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
#home .last-posts>.info {
  clear: both;
}
#home .posts-list {
  float: left;
}
#home .categories {
  float: right;
}
#about {
  overflow: hidden;
}
#about .links-list {
  float: right;
}
#about h2 {
  display: inline-block;
}
.post-brief {
  *zoom: 1;
}
.post-brief:before,
.post-brief:after {
  display: table;
  content: "";
  line-height: 0;
}
.post-brief:after {
  clear: both;
}
.post-brief .post-title,
.post-brief .post-date {
  display: inline-block;
  vertical-align: baseline;
}
.post-brief .post-date {
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 20px;
}
#post {
  max-width: 80ex;
  margin: auto;
}
.post-date {
  margin: -1.5em 0 0;
  font-style: italic;
  font-size: 1rem;
}
.project-brief,
.project-image {
  width: 32%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5em;
}
.project-brief a,
.project-image a {
  display: inline-block;
  border: 5px solid #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  max-width: 100%;
}
.project-brief a .caption,
.project-image a .caption {
  display: block;
  padding: 0.75em;
  text-align: center;
  color: #444;
  font-size: 1.3rem;
  padding: 0.1em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-variant: small-caps;
}
.project-brief a:hover .caption,
.project-image a:hover .caption {
  color: #000;
}
#category-list {
  position: relative;
}
#category-list .category-rss-link {
  float: right;
  margin-top: 24px;
}
.category-rss-link {
  font-family: 'Arapey', sans-serif;
}
.links-list .header-link {
  font-family: 'Arapey', sans-serif;
  list-style-type: none;
  color: #7a7a7a;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.75em 0 0;
}
.links-list li {
  margin-left: 2.25em;
}
.post-pic {
  display: block;
  text-align: center;
}
.post-pic img {
  display: inline-block;
  text-align: center;
}
