
@import url(http://fonts.googleapis.com/css?family=Chau+Philomene+One|Tenor+Sans);

@import url(normalize.css);

body {
	background: #e2e2e2;
    background-image: url('../img/50-90-5.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
    font-family: 'Tenor Sans';
    color: #444;
}

header, .container {
    margin: 20px 20%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chau Philomene One';
}

