@import url("http://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic,300italic,300|Tenor+Sans&.css");
@import "normalize.css";
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tenor Sans', sans-serif;
  line-height: 1.5;
  font-weight: normal;
}
h1 {
  font-size: 2em;
  margin: 0.34em 0;
}
h2 {
  font-size: 1.6em;
  margin: 0.84em 0 0.42em;
}
h3 {
  font-size: 1.3em;
  margin: 1em 0 0.5em;
}
h4 {
  font-size: 1.15em;
  margin: 1.32em 0 0.66em;
}
h5 {
  font-size: 1.1em;
  margin: 1.68em 0 0.84em;
}
h6 {
  font-size: 1em;
  margin: 2.32em 0 1.16em;
}
p {
  margin: 1em 0;
}
a {
  color: #168cdb;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
}
a:visited {
  color: #14c5b3;
}
a:active {
  color: #239ae9;
}
a:visited:hover {
  background-color: rgba(20,197,179,0.1);
}
a:hover {
  background-color: rgba(22,140,219,0.04);
}
img {
  max-width: 100%;
}
pre,
p code {
  border: 1px solid #e8e8ef;
  background: #f8f8ff;
  padding: 3px 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
pre {
  line-height: 1.3;
  overflow: auto;
}
body {
  font-weight: 300;
  background-color: #fff;
  font-family: 'Merriweather', Georgia, serif;
  font-size: 17px;
  line-height: 1.6em;
  color: #222;
}
.container,
header {
  margin: 0 auto;
  padding: 0.32em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 500px) and (max-width: 768px) {
  .container,
  header {
    padding: 0.4em 1em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container,
  header {
    padding: 0.533333333333333em 5%;
  }
}
@media (min-width: 1024px) {
  .container,
  header {
    padding: 0.8em 10%;
  }
}
header {
  background-color: #fdfdfd;
  font-family: 'Tenor Sans', sans-serif;
  *zoom: 1;
  text-align: center;
}
header:before,
header:after {
  display: table;
  content: "";
  line-height: 0;
}
header:after {
  clear: both;
}
@media (min-width: 500px) {
  header {
    text-align: left;
    display: table;
    width: 100%;
  }
}
header,
header * {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header h1 {
  display: inline-block;
  margin: 0;
}
header > *,
header h1 {
  vertical-align: middle;
}
@media (min-width: 500px) {
  header > *,
  header h1 {
    display: table-cell;
  }
}
.container {
  padding-top: 1em;
}
.container >div >h1,
.container >div >h2,
.container >div >h3 {
  margin-top: 0;
  overflow: hidden;
}
#brand {
  text-decoration: none;
  color: #446;
  text-transform: lowercase;
  text-shadow: 0 2px 0px rgba(68,68,102,0.2);
  display: inline-block;
  text-align: center;
  line-height: 0.3em;
  padding-top: 0.5em;
  position: relative;
}
#brand .subtitle {
  font-size: 0.2em;
  font-weight: normal;
  font-style: italic;
}
.nav {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}
@media (min-width: 500px) {
  .nav {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    margin: 0;
  }
}
.nav li {
  display: inline-block;
}
.nav li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.4em;
  color: #446;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}
@media (min-width: 500px) {
  .nav li a {
    padding: 0.8em;
  }
}
.nav li a:hover {
  background-color: rgba(68,68,102,0.05);
  -webkit-box-shadow: 0px 1px 0px rgba(65,65,97,0.3);
  box-shadow: 0px 1px 0px rgba(65,65,97,0.3);
  text-shadow: 0 1px 0px rgba(68,68,102,0.2);
}
.nav li a:active {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: rgba(68,68,102,0.1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(65,65,97,0.3);
  box-shadow: inset 0px 1px 0px rgba(65,65,97,0.3);
  top: 1px;
}
.info {
  padding: 1.2em;
  font-size: 0.9em;
  background-color: rgba(243,243,243,0.5);
  border-top: 3px solid rgba(0,0,0,0.02);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 20px;
}
.info>:first-child {
  padding-top: 0;
  margin-top: 0;
}
.info>:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.welcome-msg {
  background-color: #fffff9;
  border-top: 3px solid #ffff86;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 20px;
  margin-bottom: 30px;
  font-size: 0.8em;
}
.welcome-msg>:first-child {
  padding-top: 0;
  margin-top: 0;
}
.welcome-msg>:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.notice-msg {
  background-color: #fdfde8;
  border-top: 3px solid rgba(169,169,18,0.05);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 20px;
  color: #bf9614;
  font-size: 0.8em;
}
.notice-msg>:first-child {
  padding-top: 0;
  margin-top: 0;
}
.notice-msg>:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
#home .last-posts>.info {
  clear: both;
}
#home,
#archive,
#about {
  overflow: hidden;
}
.post-brief .post-title,
.post-brief .post-date {
  display: block;
  vertical-align: baseline;
  margin-top: 0;
}
@media (min-width: 768px) {
  .post-brief .post-title,
  .post-brief .post-date {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .post-brief .post-date {
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    width: 150px;
  }
}
#post {
  max-width: 80ex;
  margin: auto;
}
.post-date {
  margin: -1.6em 0 0;
  font-style: italic;
  color: #bbb;
  font-size: 1rem;
}
.project-brief,
.project-image {
  text-align: center;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .project-brief,
  .project-image {
    margin-top: 0;
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .project-brief,
  .project-image {
    width: 49%;
    padding: 1.6em;
  }
}
@media (min-width: 1024px) {
  .project-brief,
  .project-image {
    width: 32%;
    padding: 1.6em;
  }
}
.project-brief a,
.project-image a {
  display: inline-block;
  border: 5px solid #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  max-width: 100%;
}
.project-brief a .caption,
.project-image a .caption {
  display: block;
  padding: 0.8em;
  text-align: center;
  color: #444;
  font-size: 1.3rem;
  padding: 0.1em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project-brief a:hover .caption,
.project-image a:hover .caption {
  color: #000;
}
#category-list {
  position: relative;
}
#category-list .category-rss-link {
  float: right;
  margin-top: 24px;
}
.category-rss-link {
  font-family: 'Tenor Sans', sans-serif;
}
@media (min-width: 500px) {
  .links-list {
    float: right;
  }
}
@media (max-width: 1024px) {
  .links-list {
    padding-left: 0;
  }
}
.links-list .header-link {
  font-family: 'Tenor Sans', sans-serif;
  list-style-type: none;
  color: #7a7a7a;
  font-variant: small-caps;
  margin: 0 1em 0.8em;
}
.links-list ul {
  margin-top: 0;
}
.links-list li {
  margin-left: 2.4em;
}
.post-pic {
  display: block;
  text-align: center;
}
.post-pic img {
  display: inline-block;
  text-align: center;
}
