// @import url("http://fonts.googleapis.com/css?family=Lora|Tenor+Sans&.css");
// @import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&.css");
// @import url("http://fonts.googleapis.com/css?family=Quattrocento:400,700&.css");
@import url("http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic&.css");

@import "prefixer.less";
@import "normalize.less";

@color: #222;
@linkColor: #1177bb;
@fontSize: 18px;
@lineHeight: 1.4em;
@fontFamily1: 'Puritan';
@fontFamily2: 'Puritan';

@import "base.less";
@import "theme.less";
@import "posts.less";
@import "projects.less";
@import "lists.less";


