// @import url("http://fonts.googleapis.com/css?family=Lora|Tenor+Sans&.css");
// @import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&.css");
// @import url("http://fonts.googleapis.com/css?family=Quattrocento:400,700&.css");
// @import url("http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic&.css");
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
// @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Source+Sans+Pro:400,700);

@import "prefixer.less";
@import "normalize.less";

@color: #222;
@linkColor: #1177bb;
@fontSize: 16px;
@lineHeight: 1.7em;
@fontFamily1: 'Source Sans Pro', sans-serif;
@fontFamily2: 'Libre Baskerville', serif;

@import "base.less";
@import "theme.less";
@import "posts.less";
@import "projects.less";
@import "lists.less";


