.post-brief

  .post-title, .post-date
    display block
    @media (min-width: mediumWidthSize)
      display inline-block
    vertical-align baseline
    margin-top 0

  .post-date
    @media (min-width: mediumWidthSize)
      display inline-block
      text-align right
      padding-right 20px
      width 150px

#post
  max-width 80ex
  margin auto

.post-date
  margin (0 - lineHeight) 0 0
  font-style italic
  color #bbb
  font-size 1rem

.comments
  margin-top 2em
