---
layout: default
title: Chimeces
---

<div id="home">

    <div class='row'>
        <div class='span7'>
            {% for post in site.categories.post limit:1 offset:0 %}
                {% assign huge = true %}
                {% include post-briefing.html %}
            {% endfor %}
            {% assign huge = false %}
        </div>
        <div class='span5'>
            <div class='span5'>
                {% for post in site.categories.post limit:4 offset:1 %}
                    {% include post-briefing.html %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='row'>
        {% for i in (1..9) %}
            {% assign forOffset = 5 + (3*i) %}
            {% for post in site.categories.post limit:3 offset:forOffset %}
                <div class='span4'>
                    {% include post-briefing.html %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class='row'>
        <p class='well'>
            To view more visit the <a href='/archive'>archive</a>
        </p>
    </div>

</div>

