
    <header>
        <h1>
            <a id="brand" href="/">
                Chimeces<br/>
                <span class="subtitle">
                    Completely lost
                </span>
            </a>
        </h1>

        <ul class="nav">
            <li>
                <a href='/'>Home</a>
            </li>
            <li>
                <a href='/blog'>Blog</a>
            </li>
            <li>
                <a href='/projects'>Projects</a>
            </li>
            <li>
                <a href='/about'>About</a>
            </li>
            <li>
                <a href="/feed.xml">
                    RSS
                </a>
            </li>
        </ul>
    </header>

