---
links:
  - text: Contact
    icon: icon-user
    header: true
  - text: Twitter
    url: http://twitter.com/joakin
    icon: icon-chevron-right
  - text: Code
    icon: icon-th-list
    header: true
  - text: Github
    url: http://github.com/joakin
    icon: icon-chevron-right
  - text: Bitbucket
    url: https://bitbucket.org/joakin
    icon: icon-chevron-right
  - text: Music
    icon: icon-music
    header: true
  - text: Grooveshark
    url: http://grooveshark.com/#!/user/Joaquin+Oltra/66993
    icon: icon-chevron-right
  - text: Favourites
    icon: icon-star
    header: true
  - text: Pinboard
    url: http://pinboard.in/u:joakin
    icon: icon-chevron-right
---

<ul class="nav nav-list">
    {% for link in page.links %}
        {% if link.header %}
            <li class="nav-header">
                <i class='{{ link.icon }}'></i>
                {{ link.text }}
            </li>
        {% else %}
            <li>
                <a href='{{ link.url }}'>
                    <i class='{{ link.icon }}'></i>
                    {{ link.text }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

