
    {% unless headerSize %}
        {% assign headerSize = 3 %}
    {% endunless %}
    {% assign secondaryHeaderSize = headerSize | minus:3 %}
    {% unless wordsCount %}
        {% assign wordsCount = 75 %}
    {% endunless %}

    <h{{ headerSize }}><a href="{{ post.url }}">{{ post.title }}</a></h{{headerSize}}>
    <h4>
        {{ post.date | format_date }}
    </h4>

    <p>{{ post.content | strip_html | truncatewords: wordsCount }}</p>
    <p><a href="{{ post.url }}">Read more...</a></p>

