
    {% if huge == true %}
        {% assign headerSize = 3 %}
        {% assign wordsCount = 75 %}
    {% else %}
        {% assign headerSize = 1 %}
        {% assign wordsCount = 500 %}
    {% endif %}
    {% assign secondaryHeaderSize = headerSize | minus:3 %}

    <h{{ headerSize }}><a href="{{ post.url }}">{{ post.title }}</a></h{{headerSize}}>
    <h4>
        {{ post.date | format_date }}
    </h4>

    <p>{{ post.content | strip_html | truncatewords: wordsCount }}</p>
    <p><a href="{{ post.url }}">Read more...</a></p>

