
    <div class="thumbnail">
        {% for image in project.images limit:1 offset:0 %}
            <a href='{{ project.url }}' class="btn btn-small pull-right">
                <img src="{{ image.thumbnail }}" alt='{{ image.title }}'>
            </a>
        {% endfor %}
        <div class="caption">
            <h4>
                <a href='{{ project.url }}' class="btn btn-small pull-right">
                    {{ project.title }}
                </a>
            </h4>
        </div>
    </div>

