---
layout: default
---

<div id="home">

    <div class="notice-msg">
      {% include peru-banner.html %}
    </div>

    <div class='welcome-msg'>
        {{ content }}
    </div>

    <!--
    {{ site.categories }}
    -->

    <div class='last-posts'>
        <h2>Last posts</h2>
        <div class='posts-list'>
            {% for post in site.categories.blog limit:20 %}
                {% include post-briefing.html %}
            {% endfor %}
        </div>
        <p class='info'>
            To view more visit the <a href='/blog'>archive</a>
        </p>
    </div>

    {% comment %}
    <div class="last-projects">
        <h2>Last projects</h2>
        <div class="projects-list">
            {% for project in site.categories.projects limit:3 %}
                {% assign project = project %}
                {% include project-briefing.html %}
            {% endfor %}
        </div>
        <p class='info'>
            To view more visit the <a href='/projects'>portfolio</a>
        </p>
    </div>
    {% endcomment %}

</div>

