
h1, h2, h3, h4, h5, h6
  font-family fontFamily1
  line-height 1.5

h1
  font-size 2.8em
  margin: 0.34em 0;
h2
  font-size 2.2em
  margin: 0.42em 0;
h3
  font-size 1.6em
  margin: 0.5em 0;
h4
  font-size 1.3em
  margin: 0.66em 0;
h5
  font-size 1.1em
  margin: 0.84em 0;
h6
  font-size 1em
  margin: 1.16em 0;

p
  margin lineHeight 0

a
  color linkColor
  transition color 0.2s ease
  text-decoration none

  &:visited
    color desaturate(linkColor - 180deg, 20%)
  &:active
    color lighten(linkColor, 10%)
  &:hover
    background-color rgba(brand-color, 0.1)
  &:visited:hover
    background-color rgba(desaturate(linkColor - 180deg, 20%), 0.01)

img
  max-width 100%

clearfix()
  *zoom 1
  &:before, &:after
    display table
    content ""
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height 0
  &:after
    clear both

code
  border 1px solid #ccc
  background-color white
  padding 3px 5px
  border-radius(4px)

