
h1, h2, h3, h4, h5, h6
  font-family fontFamily1
  line-height 1.5

h1
  font-size 2.8em
  margin: 0.34em 0;
h2
  font-size 2.2em
  margin: 0.84em 0 0.42em;
h3
  font-size 1.6em
  margin: 1em 0 0.5em;
h4
  font-size 1.3em
  margin: 1.32em 0 0.66em;
h5
  font-size 1.1em
  margin: 1.68em 0 0.84em;
h6
  font-size 1em
  margin: 2.32em 0 1.16em;

p
  margin 1em 0

a
  color linkColor
  transition all 0.5s ease
  text-decoration none

  &:visited
    color lighten(desaturate(linkColor, 30%), 50%)
  &:active
    color lighten(linkColor, 10%)
  &:hover
    background-color rgba(linkColor, 0.04)

img
  max-width 100%

clearfix()
  *zoom 1
  &:before, &:after
    display table
    content ""
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height 0
  &:after
    clear both

pre, p code
  border 1px solid #ccc
  background-color white
  padding 3px 5px
  border-radius(4px)

pre
  line-height 1.3

pre, code
  font-size 1rem

