
#category-list
  position relative

  .category-rss-link
    position absolute
    top 0px
    right 0px

.category-rss-link
  font-family fontFamily1
  transparent-btn()
  background-color rgba(0,0,0,0.04)
  &, &:visited
    color black

