
.links-list

  .header-link
    font-family: fontFamily1
    list-style-type: none
    color: lighten(color, 40%)
    text-transform: uppercase
    font-weight: bold
    margin: (lineHeight/2) 1em

  li
    margin-left: lineHeight*1.5

