
.links-list

  @media (max-width: bigWidthSize)
    padding-left 0

  .header-link
    font-family fontFamily1
    list-style-type none
    color lighten(color, 40%)
    font-variant small-caps
    margin (lineHeight/2) 1em

  li
    margin-left lineHeight*1.5

