
.links-list

  @media (min-width: smallWidthSize)
    float right

  @media (max-width: bigWidthSize)
    padding-left 0

  .header-link
    font-family fontFamily
    list-style-type none
    color lighten(color, 40%)
    font-variant small-caps
    margin 0 1em (lineHeight/2)

  ul
    margin-top 0

  li
    margin-left lineHeight*1.5

