
.project-brief, .project-image

  text-align center
  margin-top 1em

  @media (min-width: mediumWidthSize)
    margin-top 0
    display inline-block

  @media (min-width: mediumWidthSize) and (max-width: bigWidthSize)
    width 49%
    padding lineHeight

  @media (min-width: bigWidthSize)
    width 32.0%
    padding lineHeight


  borderRadius = 2px

  a
    display inline-block
    border 5px solid white
    border-radius borderRadius
    box-shadow 0 1px 4px rgba(0, 0, 0, 0.2)
    max-width 100%

    .caption
      display block
      padding (lineHeight/2)
      text-align center
      color #444
      font-size 1rem
      padding 0.1em
      transition all 0.3s ease


    &:hover .caption
      color black




