// @import url("http://fonts.googleapis.com/css?family=Lora|Tenor+Sans&.css");
// fontFamily1 = 'Lora', sans-serif
// fontFamily2 = 'Tenor Sans', serif
// @import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&.css");
// fontFamily1 = 'Lora', sans-serif
// fontFamily2 = 'Lora', serif
// @import url("http://fonts.googleapis.com/css?family=Quattrocento:400,700&.css");
// fontFamily1 = 'Quattrocento', sans-serif
// fontFamily2 = 'Quattrocento', serif
// @import url("http://fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic&.css");
// fontFamily1 = 'Puritan', sans-serif
// fontFamily2 = 'Puritan', serif
// @import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700");
// fontFamily1 = 'Libre Baskerville', sans-serif
// fontFamily2 = 'Libre Baskerville', serif
// @import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Source+Sans+Pro:400,700&.css");
// fontFamily1 = 'Source Sans Pro', sans-serif
// fontFamily2 = 'Libre Baskerville', serif
// @import url("http://fonts.googleapis.com/css?family=Arapey");
// fontFamily1 = 'Arapey', sans-serif
// fontFamily2 = 'Arapey', sans-serif
@import url("http://fonts.googleapis.com/css?family=Vollkorn");
fontFamily1 = 'Vollkorn', Georgia, serif
fontFamily2 = 'Vollkorn', Georgia, serif

@import "nib"

@import "normalize.css"

color       = #222
brand-color = #fff
linkColor   = #168CDB

fontSize    = 22px
lineHeight  = 1.5em


@import "base.styl"
@import "theme.styl"
@import "posts.styl"
@import "projects.styl"
@import "category-list.styl"
@import "lists.styl"
@import "images.styl"
