fontFamily = -apple-system,BlinkMacSystemFont,Roboto,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif

@import "nib"

@import "normalize.css"

color       = #222
brand-color = #446
linkColor   = #168CDB

fontSize    = 18px
lineHeight  = 1.6em

smallWidthSize  = 500px
mediumWidthSize = 768px
bigWidthSize    = 1024px

@import "base.styl"
@import "theme.styl"
@import "posts.styl"
@import "projects.styl"
@import "category-list.styl"
@import "lists.styl"
@import "images.styl"
