@import url("//fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic,300italic,300|Tenor+Sans&.css");
fontFamily1 = 'Tenor Sans', sans-serif
fontFamily2 = 'Merriweather', Georgia, serif
// @import url("//fonts.googleapis.com/css?family=Lora|Tenor+Sans&.css");
// fontFamily1 = 'Lora', sans-serif
// fontFamily2 = 'Tenor Sans', serif
// @import url("//fonts.googleapis.com/css?family=Quattrocento:400,700&.css");
// fontFamily1 = 'Quattrocento', sans-serif
// fontFamily2 = 'Quattrocento', serif
// @import url("//fonts.googleapis.com/css?family=Puritan:400,700,400italic,700italic&.css");
// fontFamily1 = 'Puritan', sans-serif
// fontFamily2 = 'Puritan', serif
// @import url("//fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Source+Sans+Pro:400,700&.css");
// fontFamily1 = 'Source Sans Pro', sans-serif
// fontFamily2 = 'Libre Baskerville', serif
// @import url("//fonts.googleapis.com/css?family=Arapey");
// fontFamily1 = 'Arapey', sans-serif
// fontFamily2 = 'Arapey', sans-serif
// @import url("//fonts.googleapis.com/css?family=Vollkorn");
// fontFamily1 = 'Vollkorn', Georgia, serif
// fontFamily2 = 'Vollkorn', Georgia, serif
// @font-face {
//     font-family: Latin Modern Roman;
//     src: url('fonts/lmroman10-regular-webfont.eot');
//     src: url('fonts/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/lmroman10-regular-webfont.woff') format('woff'),
//          url('fonts/lmroman10-regular-webfont.ttf') format('truetype'),
//          url('fonts/lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: Latin Modern Roman;
//     src: url('fonts/lmroman10-bold-webfont.eot');
//     src: url('fonts/lmroman10-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/lmroman10-bold-webfont.woff') format('woff'),
//          url('fonts/lmroman10-bold-webfont.ttf') format('truetype'),
//          url('fonts/lmroman10-bold-webfont.svg#latin_modern_roman10_bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
// }
// fontFamily1 = 'Latin Modern Roman', Georgia, serif
// fontFamily2 = 'Latin Modern Roman', Georgia, serif





@import "nib"

@import "normalize.css"

color       = #222
brand-color = #446
linkColor   = #168CDB

fontSize    = 17px
lineHeight  = 1.6em

smallWidthSize  = 500px
mediumWidthSize = 768px
bigWidthSize    = 1024px

@import "base.styl"
@import "theme.styl"
@import "posts.styl"
@import "projects.styl"
@import "category-list.styl"
@import "lists.styl"
@import "images.styl"
