
body
  // background white url('../img/bg2.png') top left repeat
  background-color white

  text-shadow 0 1px 0px rgba(255, 255, 255, 0.4)
  font-family fontFamily2
  font-size fontSize
  line-height lineHeight
  color color

.container, header
  margin 0 auto
  padding (lineHeight/5) 1%
  @media (min-width: smallWidthSize) and (max-width: mediumWidthSize)
    padding (lineHeight/4) 3%
  @media (min-width: mediumWidthSize) and (max-width: bigWidthSize)
    padding (lineHeight/3) 5%
  @media (min-width: bigWidthSize)
    padding (lineHeight/2) 10%
  box-sizing border-box

header
  background-color #222
  background url(/img/header.jpg) no-repeat center center
  background-size cover
  padding 2%
  font-family fontFamily1
  clearfix()
  text-align center
  @media (min-width: mediumWidthSize)
    text-align left

  h1
    display inline-block
    margin 0
    @media (min-width: mediumWidthSize)
      margin-top 0.5rem

    float none
    @media (min-width: mediumWidthSize)
      float left

  @media (min-width: smallWidthSize) and (max-width: bigWidthSize)
    padding 3% 5%
  @media (min-width: bigWidthSize)
    padding 7% 10%

.container>div
  >h1
  >h2
  >h3
    margin-top 0

#brand
  text-decoration none
  color brand-color
  text-transform lowercase
  text-shadow 0 3px 0px rgba(brand-color,0.2)
  position relative
  .subtitle
    font-size 0.2em
    font-weight normal
    font-style italic
    position absolute
    bottom 0
    left 0
    right 0
    text-align center

.nav
  display inline-block
  padding-left 0
  float none
  @media (min-width: mediumWidthSize)
    float right
  @media (max-width: mediumWidthSize)
    margin 0

  li
    display inline-block

    a
      display inline-block
      font-weight bold
      text-decoration none

      padding (lineHeight/4)
      @media (min-width: mediumWidthSize)
        padding (lineHeight/2)

      color brand-color
      // border 1px solid rgba(0,0,0,0.2)
      border-radius 8px
      transition all 0.5s ease
      position relative

      &:hover
        background-color rgba(brand-color,0.1)
        box-shadow 0px 1px 0px rgba(darken(brand-color, 5%), 0.3)
        text-shadow 0 2px 0px rgba(brand-color,0.2)

      &:active
        transition all 0.1s ease
        background-color rgba(brand-color,0.1)
        box-shadow inset 0px 1px 0px rgba(darken(brand-color, 5%), 0.3)
        top 1px


well(background = rgba(#f3f3f3, 0.5), shadow = rgba(black, 0.02), padding = 15px, margin = 0 0 20px)
  background-color background
  border-top 3px solid shadow
  border-radius 4px
  padding padding
  margin margin

  &>:first-child
    padding-top 0
    margin-top 0

  &>:last-child
    padding-bottom 0
    margin-bottom 0

notice(color = rgb(251, 251, 217))
  well(lighten(color, 40%), darken(rgba(color, 0.05), 60%))
  color darken(color - 15deg, 55%)
  font-size 0.8em

.info
  padding lineHeight*0.75
  font-size 0.9em
  well()

.welcome-msg
  bg = rgb(251, 254, 246)
  well(bg, rgba(darken(bg, 50%), 0.1))
  margin-bottom 30px

.notice-msg
  notice()

#home
  .last-posts>.info
    clear both

#archive
  overflow hidden

#home, #archive
  .posts-list
    @media (min-width: smallWidthSize)
      float left
  .categories
    @media (min-width: smallWidthSize)
      float right

#about
  overflow hidden
  .links-list
    @media (min-width: (smallWidthSize + (mediumWidthSize - smallWidthSize)/2))
      float right

  h2
    display inline-block


